name: Test
on:
  pull_request:
    branches: [master]
  push:
    branches:
      - master
jobs:
  test:
    name: Test Suite
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions/setup-rust@v1
        with:
          rust-version: ${{ matrix.rust }}

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: python -m pip install --upgrade pip setuptools wheel

      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Run just
        run: just test

  test-arm:
    name: ARM Test Suite (aarch64)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [aarch64-unknown-linux-gnu]
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions/setup-rust@v1
        with:
          rust-version: stable
          targets: ${{ matrix.target }}

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Install cross
        uses: taiki-e/install-action@cross

      - uses: Swatinem/rust-cache@v2

      - name: Run cross tests
        run: cross test --target ${{ matrix.target }}
